<table class="header-paper">
    <thead>
      <tr>
        <th class="w-20 h-3">
          <img class="logo" src="./assets/img/logo.png" alt="logo">
        </th>
        <th class="w-40" rowspan="2">
          <div class="fs-20">
            مغلق شكاك لمواد البناء
          </div>
          <div class="pl-1 fs-12 black">
            شقر - تقاطع الإسكان - جوار ودالعبيد
           </div>
          <div class="pl-1 fs-12 black">
            إدارة عبد الرحمن - ت: ۰۹۱۵۹۸۵۰۳۲  
           </div>
          <div class="pl-1 fs-12 black">
            رقم حساب بنكك : 2856807
           </div>
        </th>
        <th class="w-20">
          <img class="logo" src="./assets/img/logo.png" alt="logo">
        </th>
      </tr>
    </thead>
  </table>