<div class="login-container">
  <div class="login">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="logo">
    </div>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="ادخل اسم المستخدم!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username"
                   nzSize="large" placeholder="اسم المستخدم" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <br />
      <nz-form-item>
        <nz-form-control nzErrorTip="ادخل كلمة المرور!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" nzSize="large" placeholder="كلمة المرور" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <br />
      <button [nzLoading]="loading" nzSize="large" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">تسجيل دخول</button>
    </form>
  </div>
</div>
