<div *ngIf="!isInvoice()">
  <app-download-btn [invoiceData]="sale" />
  <!-- <button nz-button nzType="primary" (click)="generatePDF()">تحميل الفاتورة  PDF</button> -->
  <button nz-button (click)="goToFullScreen()">عرض في شاشة كاملة</button>
</div>
<app-back-btn *ngIf="isInvoice()" />
<div class="paper-container">
    <div class="paper">
        <app-header />
        <app-info [sale]="sale" />
        <app-items-table [saleItems]="sale?.saleItems" />
        <table>
          <thead>
            <tr>
              <th>
                الاجمالي
              </th>
              <td class="w-90">
                {{totalWithPriceFormat(sale.total)}}
              </td>
            </tr>
            <tr>
              <th>
                الاجمالي كتابة
              </th>
              <td class="w-90">
                {{totalByText(sale.total)}}
              </td>
            </tr>
            <!-- {{totalByText(sale?.total)}} -->
            </thead>
        </table>
        <br>
      <h4>
       التوقيع: 
      </h4>
      <nz-divider  nzType="vertical"></nz-divider>
      <button (click)="print()" nz-button nzType="default">
         طباعة
        <span nz-icon nzType="printer"></span>
      </button>
      <div class="footer-paper">
        <div style="display: flex; text-align: center;" class="fs-10">
          <img class="footer-logo" src="assets/img/developer-logo/logo_black.png" alt="">
          Developed by Nowrseen Zans
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>