<div class="w-full row">
  <div class="flex mt-1 fs-12 w-50 left">
    <div class="mr-10">زمن الطباعة: </div>
    <div>{{currentDate}}</div>
  </div>
  <div class="flex mt-1 mr-20-p fs-12 w-50 left">
    <div class="mr-10">رقم العملية. :</div>
    <div>{{sale?.doc_id}}</div>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>
        الإسم
      </th>
      <th class="w-96">
        {{sale?.clientName}}
      </th>
    </tr>
    <tr>
      <th>
        رقم الهاتف
      </th>
      <th>
        {{sale.clientPhone? sale.clientPhone+'249':""}}
      </th>
    </tr>
    </thead>
</table>