<div class="delivered-container">
  <div class="row">
    <h2 class="fb">
     او ادخل مستلم واحد لكل المنتجات (مندوب العميل) 
    </h2>
    <button class="mr-5" nz-button (click)="setUpdateMode()" [nzType]="updateSaleDelivery?'primary':'default'">
      <span nz-icon nzType="edit"></span>
    </button>
  </div>
  <br>
  <form [formGroup]="userForm" (ngSubmit)="submitForm()" nz-form>
    <nz-form-item
      *ngFor="let keyItem of keysEditModel; let i = index"
      style="margin-bottom: 1rem"
    >
      <nz-form-label
        *ngIf="!tableData.headers![i]?.disabled"
        [nzSpan]="8"
        [nzRequired]="checkIsRequired(tableData.headers![i])"
        nzFor="{{ keyItem! }}"
      >
        {{ tableData.headers![i]?.name }}
      </nz-form-label>
      <nz-form-control
        *ngIf="!tableData.headers![i]?.disabled"
        [nzSpan]="15"
        nzErrorTip="!الحقل ضروري"
      >
        <app-data-edit-type
          [header]="tableData.headers![i]"
          [value]="tableData.model[keyItem]"
          [keyItem]="keyItem"
        ></app-data-edit-type>
      </nz-form-control>
    </nz-form-item>
    <button *ngIf="!itemsDelivered || updateSaleDelivery" type="submit" nz-button >
      حفظ البيانات
      <span
        nz-icon
        nzType="save"
        nzTheme="outline"
        style="font-size: 16px; color: #ffffff"
      ></span>
    </button>
  </form>
  
</div>