<div class="payment-container">
    <div class="row">
      <h1 class="fb">محفظة العميل</h1>
      <button (click)="goToTransactions()" style="margin-right: 40%;" nz-button nzSize="small" >
        <span nz-icon nzType="history"></span>
        العمليات على المحفظة
      </button>
    </div>
  <br>
  <table>
      <tbody>
          <tr>
            <td>
              <h1>الرصيد المتوفر:</h1>
            </td>
            <td>
              <h1  class="mr-20 fb">
                {{getTotal()}}
              </h1>
            </td>
          </tr>
      </tbody>
  </table>
  <br>
  <h3 class="fb">اضافة رصيد</h3>
  <form nz-form [formGroup]="paymentForm" (ngSubmit)="submitForm()">
      <nz-form-item class="mt-1 mb-1" style="margin-bottom: 1rem;">
        <nz-form-label [nzSpan]="5" nzFor="amount">المبلغ</nz-form-label>
        <nz-form-control [nzSpan]="10" nzErrorTip=" اقل مبلغ 1 جيه واكبر مبلغ مليار">
          <nz-input-number-group nzAddOnAfter="SDG">
            <nz-input-number class="w-50" formControlName = "amount" [nzStep]="1" [nzMin]="1" [nzMax]="1000000000000" ></nz-input-number>
          </nz-input-number-group>      
        </nz-form-control>
      </nz-form-item>
      <br>
      <button [nzLoading]="loading" nz-button nzSize="large" nzType="primary" >
        <span nz-icon nzType="save"></span>
        حفظ البيانات
      </button>    
  </form>

  </div>