<button *ngIf="header?.type == 'list'" (click)="showModal()" nz-button nzType="default">
  <span nz-icon nzType="eye"></span>
  {{value}}
</button>
<!--Normal View-->
<div (click)="showModalCompleteModal()" *ngIf="header?.type == ''" [style]="{color: value?'':'darkgrey',cursor: header?.completeModel?'pointer':''}" >
  {{value?value:'لم يحدد'}}
</div>
<!--Online List-->
<div *ngIf="header?.type == 'online_list'" [style]="{color: value?'':'darkgrey'}">
  {{value? header.sub?.table? value[header.sub.table].name:value.name:'لم يحدد'}}
</div>
<!--Status-->
<nz-tag *ngIf="header?.type == 'tag'" [nzColor]="value == '1'?
'green':'red'">
  {{header!.values[+value]?.name}}
</nz-tag>
<!--Gender-->
<nz-tag *ngIf="header?.type == 'fill_tag'"
        [nzColor]="value == '1'?'#108ee9':'rgba(255,128,0,0.59)'"
>{{header!.values[+value]?.name}}
</nz-tag>
<nz-tag *ngIf="header?.type == 'tags_list'"
        [nzColor]="header!.values[+value]?.color"
>{{header!.values[+value]?.name}}
</nz-tag>

<div [style]="'color: '+header!.values[+value]?.color" class="row" *ngIf="header?.type == 'icons_list'">
  <span nz-icon [nzType]="header!.values[+value]?.icon"
        [style]="'margin-right:12px;'"></span>
  <div [style]="'margin-right:5px;'">{{header!.values[+value]?.name}}</div>
</div>

<img  *ngIf="header?.type == 'image_view'" src="{{imagesGridService.imageUrl+value}}" alt="{{value}}" width="50" height="50">
<div *ngIf="header?.type == 'list'" >
  <nz-modal
    [nzStyle]="{width: '80%'}"
    [(nzVisible)]="isVisible"
    nzTitle="{{record.name}} > {{header.innerModel?.title}}"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
  >
    <ng-container *nzModalContent>
      <app-table-data [inputTableData]="header.innerModel" [foreignId]="record.doc_id" />
    </ng-container>
  </nz-modal>
</div>
<!--complete operation-->
<div *ngIf="header?.completeModel" >
  <nz-modal
    [nzStyle]="{width: '30%'}"
    [(nzVisible)]="isVisibleCompleteModal"
    nzTitle="{{header?.completeModel.title}}"
    (nzOnCancel)="handleCancelCompleteModal()"
    (nzOnOk)="onOk()"
  >
    <ng-container *nzModalContent>
      المبلغ المستحق هو {{dueAmount}}
      <input (keyup)="changePayed()" #input [(ngModel)]="payed" [placeholder]="header?.completeModel?.placeholder" type="number" nz-input />
    </ng-container>
  </nz-modal>
</div>
