<div class="inner-content">
    <div class="row">
      <app-back-btn />
      <h1 class="mr-5 fb">
        {{getUserTitle()}} / {{name}} - {{id}}
      </h1>
    </div>
    <div class="container">
      <nz-tabset>
        <nz-tab  [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <span nz-icon nzType="read"></span>
            المحفظة
          </ng-template>
          <app-user-wallet [userId]="id" />
          <!-- <app-table-data [inputTableData]="tableData[0]" [foreignId]="id" heightTable="30"/> -->
        </nz-tab>
        <nz-tab  [nzTitle]="titleTemplate2">
          <ng-template #titleTemplate2>
            <span nz-icon nzType="read"></span>
            الديون
          </ng-template>
          <app-payment [userDebit]="true" [saleId]="id" />
          <!-- <app-table-data [inputTableData]="tableData[0]" [foreignId]="id" heightTable="30"/> -->
        </nz-tab>
        <nz-tab  [nzTitle]="titleTemplate3">
            <ng-template #titleTemplate3>
              <span nz-icon nzType="read"></span>
              المبيعات
            </ng-template>
            <app-table-data [inputTableData]="tableData[1]" [foreignId]="id" />
        </nz-tab>
      </nz-tabset>
    </div>
</div>