/* You can add global styles to this file, and also import other style files */
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.fb{
  font-weight: bold;
}
.fs-30{
  font-size: 30px;
}
.fs-20{
  font-size: 20px;
}
.fs-15{
  font-size: 15px;
}
.fs-12{
  font-size: 12px;
}
.fs-10{
  font-size: 10px;
}
.row{
  display: flex;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mr-20-p{
  margin-right: 20%;
}
.grey{
  color: darkgrey;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
}
