<div class="row mb-5">
  <img class="logo" src="assets/img/logo.png">
  <div class="mr-20">
    <h2>نظام مبيعات</h2>
    <h1 class="mt-1">نظام ادارة المخازن والمبيعات</h1>
  </div>
  <h2 class="p-color pt-12 mr-10"> - مرحباً {{authService.department.user}}</h2>
</div>
<div class="cards">
  <!--  <div-->
  <!--    style="background-color: #ecf6dd;color: #1f8f27;border: 1px white solid"-->
  <!--    class="card">-->
  <!--    <div>-->
  <!--      <div>-->
  <!--        {{totals.operations}}-->
  <!--      </div>-->
  <!--      <div>-->
  <!--        عدد الايصالات-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <span nz-icon nzType="car"></span>-->
  <!--  </div>-->
  <div class="card" *ngFor="let table of tables.values; let i = index">
    <div>
      <div>
        {{table}}
      </div>
      <div>
        {{tables.titles[i]}}
      </div>
    </div>
    <span nz-icon [nzType]="tables.icons![i]"></span>
  </div>
</div>
