<div style="height: 85vh; overflow: auto">
  <div style="padding: 0 2.5rem 1rem 0;" class="row">
    <button *ngIf="!mainReports" nzShape="circle" nz-button (click)="back()" nzType="default">
      <span style="margin: 0; font-size: 18px" nz-icon nzType="arrow-right" nzTheme="outline" ></span>
    </button>
    <div style="padding: .5rem 3vh 0 0;" class="font-bold">{{reportPage?"الاجماليات":"اجماليات اليوم"}}</div>
    <nz-range-picker *ngIf="reportPage" [(ngModel)]="date" (ngModelChange)="onChangeDateRange($event)"></nz-range-picker>
    <br />
  </div>
  <div class="cards">
    <div (click)="selectCard(table)" class="card2" *ngFor="let table of tables.values; let i = index">
      <div>
        <div>
          {{table.total?priceFormat(table.total):table.count}}
        </div>
        <div>
          {{table.title}}
        </div>
      </div>
      <span nz-icon [nzType]="table.icon"></span>
    </div>
  </div>
  <br>
  <div [class]="reportPage || reportObject?.customApiBody?.table != 'transactions'?'':'w-1/2'">
    <app-table-data [inputTableData]="reportObject" [pageTitle]="pageTitle"/>
  </div>
</div>
<router-outlet></router-outlet>