<!--<div class="row mb-5">-->
<!--  <img class="logo" src="assets/img/logo.png">-->
<!--  <div class="mr-20">-->
<!--    <h2>نظام مبيعات</h2>-->
<!--    <h1 class="mt-1">نظام ادارة المخازن والمبيعات</h1>-->
<!--  </div>-->
<!--  <h2 class="p-color pt-12 mr-10"> - مرحباً {{authService.department.user}}</h2>-->
<!--</div>-->
<div style="height: 85vh; overflow: auto">
  <div style="padding: 0 2.5rem 1rem 0;" class="row">
    <button *ngIf="!mainReports" nzShape="circle" nz-button (click)="back()" nzType="default">
      <span style="margin: 0; font-size: 18px" nz-icon nzType="arrow-right" nzTheme="outline" ></span>
    </button>
    <div style="padding: .5rem 3vh 0 0;" class="font-bold">{{reportPage?"الاجماليات":"اجماليات اليوم"}}</div>
    <nz-range-picker *ngIf="reportPage" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
    <br />
  </div>
  <div class="cards">
    <div (click)="setFilter(body.dashboard[i].table,body.dashboard[i].where,i)" class="card2" *ngFor="let table of tables.values; let i = index">
      <div>
        <div>
          {{table.total?table.total:table.count}}
        </div>
        <div>
          {{body.dashboard[i].title}}
        </div>
      </div>
      <span nz-icon [nzType]="body.dashboard[i].icon"></span>
    </div>
  </div>
  <div [class]="reportPage?'':'table-grid'">
    <app-table-data [inputTableData]="reportObject" [pageTitle]="pageTitle"/>
  </div>
</div>
